<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dog_idle  (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dog_idle  (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{64,0},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dog_idle  (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{128,0},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dog_idle  (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{192,0},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dog_idle  (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{256,0},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dog_idle  (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{320,0},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,32}</string>
                <key>spriteSourceSize</key>
                <string>{67,32}</string>
                <key>textureRect</key>
                <string>{{384,0},{67,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,32}</string>
                <key>spriteSourceSize</key>
                <string>{67,32}</string>
                <key>textureRect</key>
                <string>{{451,0},{67,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,32}</string>
                <key>spriteSourceSize</key>
                <string>{67,32}</string>
                <key>textureRect</key>
                <string>{{518,0},{67,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,32}</string>
                <key>spriteSourceSize</key>
                <string>{67,32}</string>
                <key>textureRect</key>
                <string>{{585,0},{67,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,32}</string>
                <key>spriteSourceSize</key>
                <string>{67,32}</string>
                <key>textureRect</key>
                <string>{{652,0},{67,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Doggo.png</string>
            <key>size</key>
            <string>{719,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a117be86b1060aa9bff89c1d6e4626cf:fb7e39e49f9a03ae9f1f3f1d0d2ee450:89e1e499318f74922e17272639f638fc$</string>
            <key>textureFileName</key>
            <string>Doggo.png</string>
        </dict>
    </dict>
</plist>
